name: main
on:
  push:
jobs:
  js_example:
    runs-on: ubuntu-latest
    name: 'Hello World'
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.2'
          coverage: none

      - name: Install dependencies
        run: composer install --no-suggest --prefer-dist -n -o

      - name: Install hub
        shell: bash
        run: curl -fsSL https://github.com/github/hub/raw/master/script/get | bash -s 2.14.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Hello World
        id: hello
        uses: ./.github/actions/code-style-pr
  tests:
    if: false
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [7.2, 7.3, 7.4]
        stability: [prefer-lowest, prefer-stable]
    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, gd
          coverage: none

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit --verbose
  code_styles:
    if: false
    runs-on: ubuntu-latest
    name: Code Style
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.2'
          coverage: none

      - name: Install dependencies
        run: composer install --no-suggest --prefer-dist -n -o

      - name: Run style check
        id: style_check
        run: vendor/bin/phpcs

      - name: Only run if style_check fails
        if: steps.style_check.outcome == 'failure' && always()
        run: echo "THIS RAN"

      - name: Correct style violations
        id: phpcbf
        if: steps.style_check.outcome == 'failure' && always()
        run: vendor/bin/phpcbf
        continue-on-error: true

      - name: Create style violation fix branch
        if: steps.style_check.outcome == 'failure' && always()
        run: |
          git config user.name "GitHub Action"
          git config user.email "sourcetoadci@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git fetch
          git stash
          git checkout "phpcbf-${GITHUB_REF#refs/heads/}" 2>/dev/null || git checkout -b "phpcbf-${GITHUB_REF#refs/heads/}"
          git stash apply
          git commit -am "style: automated fixes for the ${GITHUB_REF#refs/heads/} branch"
          git push -u origin "phpcbf-${GITHUB_REF#refs/heads/}"
        continue-on-error: true
