name: tests
on:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [7.4, 8.0]
        laravel: ['^7.0', '^8.0', '^9.0']
        include:
          - laravel: '^7.0'
            collision: '^4.0'
            testbench: '^5.0'
          - laravel: '^8.0'
            collision: '^5.0'
            testbench: '^6.0'
          - laravel: '^9.0'
            collision: '^6.0'
            testbench: '^7.0'
    name: PHP ${{ matrix.php }} - ${{ matrix.stability }} - Laravel ${{ matrix.laravel }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-php-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, gd
          coverage: none

      - name: Install dependencies
        run: composer update --prefer-stable --prefer-dist --no-interaction --no-suggest

      - name: Require specific versions of packages
        run: composer require laravel/framework:${{ matrix.laravel }} nunomaduro/collision:${{ matrix.collision }} orchestra/testbench:${{ matrix.testbench }}

      - name: Execute tests
        run: vendor/bin/phpunit --verbose
